<section class="card">
    <h2 class="text-white">Google OAuth</h2>
  
    <form action="/app/<%= app._id %>/google-oauth" method="POST" class="card app-form">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
  
      <input type="hidden" name="enabled" value="true" />
  
      <div class="form-group">
        <label>Google Client ID</label>
        <input
          type="text"
          name="clientId"
          value="<%= app.googleOAuth?.clientId || '' %>"
          required
        />
      </div>
  
      <div class="form-group">
        <label>Google Client Secret</label>
        <input
          type="password"
          name="clientSecret"
          placeholder="••••••••••••"
        />
        <small>Leave empty to keep existing secret</small>
      </div>
  
      <div class="form-group">
        <label>Redirect URI</label>
        <input
          type="url"
          name="redirectUri"
          value="<%= app.googleOAuth?.redirectUri || '' %>"
          required
        />
      </div>
  
      <button class="btn btn-secondary">Save Google OAuth</button>
    </form>
  </section>


  <!-- MAKE THE FRONTEND OF THE UPDATE GOOGLE AND GITHUB CREDENTIALS WORK WITH THE BACKEND L; -->
  